--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.135.1
uvicorn[standard]==0.30.5

python-dotenv==1.2.2
pydantic==2.12.5
pydantic_settings==2.13.1

groq==1.1.1
elevenlabs==2.39.0

torch==2.7.1+cpu
torchaudio==2.7.1+cpu
transformers==4.54.1
huggingface-hub==0.34.3
tokenizers==0.21.4
safetensors==0.5.3

numpy==1.26.4
librosa==0.11.0
soundfile==0.13.1
silero_vad==6.2.1
webrtcvad-wheels

SQLAlchemy==2.0.36
asyncpg==0.29.0
requests==2.32.3
aiosqlite==0.20.0
greenlet==3.0.3
python-multipart==0.0.9
networkx==3.4.2
